table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}
th,
td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}
#col {
  background-color: green; /* green */
  color: white;
}
#first {
  background-color: blue;
}
#sec {
  background-color: pink;
}
#third {
  background-color: yellow;
}
