  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 40px;
  }

  table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    background-color: white;
  }

  th, td {
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
  }

  .header {
    background-color: #f4b183;
    font-weight: bold;
    text-align: center;
  }

  .menu {
    background-color: #f8d9b8;
    font-weight: bold;
    text-align: center;
  }

  .branch {
    font-weight: bold;
    text-align: left;
  }

  img.book {
    width: 100px;
    height: 120px;
    display: block;
    margin: auto;
  }

  .book-details {
    text-align: left;
    line-height: 1.5;
  }

  .price {
    text-align: center;
    font-weight: bold;
  }

  .cart {
    text-align: center;
  }

  .cart img {
    width: 100px;
    height: 35px;
  }
