*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
form{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;
}
h1{
    margin-bottom: 30px;
}